{% extends "Tom32iSiteBundle::layout.html.twig" %}

{% set success = app.session.flashbag.get('success') %}

{% block content %}

	<h2>Bonjour {{ app.user }},</h2>
	<h3>Quel est ton secret contre nature ?</h3>

	<form class="form-inline" action="" method="post" {{ form_enctype(form) }}>
	    
	    {{ form_widget(form.content, {attr: {placeholder: "Je me souviens, c'était contre naturaaaan...", class: "input-block-level"}}) }}

	    {{ form_rest(form) }}

	  <button type="submit" class="btn btn-danger btn-block btn-large">Envoyer</button>
	</form>

	{% if success %}
	<div class="alert alert-success alert-block">
		<p>
			<strong>Félicitations !</strong>
			{% for s in success %}
				<span class="success">{{ s }}</span>
			{% endfor %}
		</p>
	</div>
	{% endif %}

	<div class="exemples">
		<p>Quelques exemples de secrets contre-naturaaaan:</p>

		<ul>
			<li>"Ma maman m'a jamais apris à tricoter, c'est un homme qui m'a appris à tricoter."</li>
			<li>"Depuis ma naissance, une certaine partie de mon annatomie possède des propotion inhumaine."</li>
			<li>"Je suis secretement portugais."</li>
			<li>"Je suis ouvertement suisse."</li>
			<li>"J'aime quand on me reveille avec une odeur de saucisson."</li>
		</ul>
	</div>

{% endblock %}